.btn{
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.1s ease;
    z-index: 10;
    color: var(--color-gray-500);
    font-size: 22px;
}

.btn[data-tooltip-text]::after{
    content: attr(data-tooltip-text);
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    color: white;
    background-color: rgba(var(--color-gray-700),0.82);  
    padding: 5px;
    border-radius: 5px;
    width: max-content;
    visibility: hidden;
    z-index: 20;
}
.btn:hover[data-tooltip-text]::after{
 visibility: visible;
}
.btn::before{
    content: " ";
    position: absolute;
    transition: background-color 0.1s ease;
    border-radius: 50%;
    cursor: pointer;
}
.md-btn{
    color: var(--color-gray-500);
    font-size: 26px;
}

.md-btn::before {
    content: "";
    width: 50px;
    height: 50px;
   
}
.sm-btn{
    font-size: 14px;
    color: var(--color-gray-700);
}
.sm-btn::before {
    content: "";
    width: 35px;
    height: 35px;
}
.btn:hover::before {
    background-color:rgba(23, 23, 23, 0.075);
}
.btn:hover {
    color: var(--color-gray-950);
}

.lg-btn {
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.lg-btn::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -20px;
    transition: background-color 0.1s ease;
    border-radius: 5px;
    cursor: pointer;
    z-index: -1;
}

.lg-btn:hover::before {
    background-color: var(--color-gray-50);
}

.reset-input{
   border: none;
   outline: none; 
}
.reset-input:focus{
    border: none;
    outline: none;
}
.fixed-btn {
    color: var(--color-gray-500);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    font-size: 18px;
}

.disabled {
    color: var(--color-gray-400) !important;
    cursor: not-allowed !important;
}
.disabled:hover {
    color: var(--color-gray-400);
    cursor: not-allowed;
}
.border-btn-container{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-btn{
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    border: 1px solid black;
}
.border-btn-link{
    font-size: 15px;
    color: var(--color-blue-main);
   text-decoration: none;
}

@media screen and (max-width:760px) {
    .md-btn{
        font-size: 18px;
    }
}
@media screen and (max-width:500px) {
    .md-btn{
        font-size: 16px;
    }
}
@media screen and (max-width:360px) {
    .md-btn{
        font-size: 15px;
    }
}