.createTodo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.createTodo__form {
    width: 580px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--color-gray-200);
    cursor: text;
    border-radius: 10px;
    padding: 14px 18px;
    height: auto;
    position: absolute;
    top: 30px;
    background-color: white;
    margin-left: -50px;
    z-index: 20;
    transition: background-color .2s ease;
}

.createTodo__title,
.createTodo__content {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    color: var(--color-gray-900);
    background-color: transparent;
}

.createTodo__title:focus,
.createTodo__content:focus {
    outline: none;
    border: none;

}

.createTodo__title-wrapper {
    position: relative;
}

.createTodo__content-wrapper {
    display: flex;
    justify-content: space-between;
}


.createTodo__title {
    font-size: 22px;
    font-weight: 600;

}

.createTodo__title::placeholder {
    font-weight: 600;
    color: var(--color-gray-600);
    font-size: 20px;
}


.createTodo__content {
    font-size: 16px;
    resize: none;
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 0;
    height: 18px;
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.createTodo__content::placeholder {
    color: var(--color-gray-600);
    font-size: 16px;
}

.createTodo__actions-wrapper {
    width: 100%;
    min-height: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createTodo__actions {
    display: flex;
    align-items: center;
    gap: 28px;
}

.createTodo__btn {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-900);
    margin-right: 20px;
}


.createTodo__btn::before {
    width: 80px;
    height: 35px;
}




.create-todo__others-btn.userOptions__dropdown-menu { 
    top: 300px; 
    ; 
    right: 100px; 
}



.node-type-wrapper {
    display: flex;
    align-items: center;
}

.todoDetail-type-btn {
    margin-right: 25px;
}

.todoDetail-type-btn:nth-child(3) {
    margin-right: 0;
}


@media screen and (max-width:800px) {
    .createTodo__form {
        width: 500px;
    }
}

@media screen and (max-width:600px) {
    .createTodo__form {
        width: 100%;
        margin-left: 0px;
    }

    .createTodo__actions-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .createTodo__actions {
 width: 100%;
    }

    .createTodo__btn {
        margin-right: 15px;
    }

    .createTodo__btn-container {
        margin: 15px 0;
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .createTodo__form[ data-open-modal="true"] {
     padding-bottom: 0px;
    }

}

@media screen and (max-width:400px) {
    .actionBtn-remind {
        display: none;
    }
    .createTodo__actions {
      justify-content: space-between;
      gap: 0;
    }
}

@media screen and (max-width:350px) {
    .actionBtn-collaborator {
        display: none;
    }
}