 .todoList__container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
 }
 .todoList__type {
   column-count: 5;
 }

 .pinned>*,
 .others>* {
   break-inside: avoid;
   display: inline-block;
   margin-bottom: 15px;
 }


 .todoList__type[data-open-modal="false"] {
  column-width: 250px;
}
 .todoList__type[data-open-modal="true"] {
   width: 95%;
   display: flex;
   justify-content: center;
   background-color: red;
   flex-wrap: wrap;
 }

 @media screen and (max-width:1390px) {
   .todoList__type[data-open-modal="false"] {
     column-width: 250px;
   }
 }


 @media screen and (max-width:600px) {

   .todoList__type[data-open-modal="false"] {
     width: 100%;
   }

   .todoList__container {
     align-items: normal;
     width: 100%;
   }

 }