.todo__container{
 background-color: white;
 border: 1px solid var(--gray-200);
 border-radius: 10px;
 padding: 14px 18px;
 height: auto;
 break-inside: avoid; 
 margin-bottom: 15px;
 width: 200px;
 position: relative;
 cursor: pointer;
 
}
.deneme{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 255, 255, 0.253);
display: flex;
justify-content: space-between;
flex-direction: column;
border-radius: inherit;
}

.todo__choose-btn{
    position: absolute;
  top: -12px;
  left: -12px;
  z-index: 5;
  font-size: 22px;
  color:var(--gray-700);
}

.todo__title, .todo__content{
       display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 18;
    autoprefixer: off;
    overflow: hidden;
}
.todo__title{
    -webkit-line-clamp: 4;
    font-size: 20px;
    font-weight: 600;
}
.todo__content{
 -webkit-line-clamp: 18;
 margin-top: 10px;
 font-size: 15px;
 
}