.header-layout{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
  border: 1px solid var(--gray-300);
    z-index: 50;
    height: 65px;
    padding:0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}