.header-layout{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid var(--gray-300);
  z-index: 50;
  height: 65px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-layout__selected {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--gray-300);
  height: 65px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 80;
  transition: all .5s ease;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-65px);
}

.selected-num-wrapper {
  display: flex;
  gap: 40px;


}


.selected-num {
  font-size: 22px;
  color: var(--gray-800);
  font-weight: 500;
}

.header-layout__selected-todo-oparations {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-layout__selected-todo-oparations>* {

  color: var(--blue);
}

.header-layout__selected-todo-oparations>*:hover {
  color: var(--blue);
}