.todoDetail{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a89;
    z-index: 100;
    position: fixed;

}
.todoDetail__wrapper{
    width: 600px;
    max-height: 600px;
    min-width: max-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color .2s ease;
}
.todoDetail__info-container{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todoDetail__scroll-area {
    overflow-y: auto;
    flex-grow: 1; 
    padding: 14px 18px; 
}
.todoDetail__actions-wrapper{
    box-shadow: rgba(0, 0, 0, 0.15) 0 -3px 3.2px;
    padding: 10px 20px;
    flex-shrink: 0;
}
.todoDetail__location{
    font-size: 13px;
    padding-right: 30px;
}


@media screen and (max-height:613px) {
    .todoDetail__wrapper{
        height: 400px;
    }
}
@media screen and (max-height:500px) {
    .todoDetail__wrapper{
        height: 300px;
    }
}

