.trash__banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 30px 0 40px 0;
    
}

.trash__banner-text {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    font-style: italic;
}
.trash__btn{
    font-size: 15px;
    color:var(--color-blue-main);
    font-weight: 600;
   border: none;
   background-color: transparent;
   cursor: pointer;
   position: relative;
}
.trash__btn:hover::after{
    content: " ";
    position: absolute;
    right: -35px;
    top: -7px;
    width: 150px;
    height: 38px;
    background-color: var(--color-blue-main);
    opacity: .08;
    border-radius: 5px;
 
}

@media screen and (max-width:500px) {
    .trash__banner {
     flex-direction: column;
     gap: 20px; 
    }
    .trash__banner-text {
   text-align: center;
    }
}
@media screen and (max-width:400px) {
    .trash__banner-text {
        font-size: 16px;
    }
}