/* userOptions css */
.userOptions__dropdown-menu {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}
.settings__dropdown-menu{
  position: absolute;
  z-index: 20;
  right: 150px;
  top: 60px;
}
@media screen and (max-width:900px) {
  .settings__dropdown-menu{
    right: 110px;
  }
}
@media screen and (max-width:450px) {
  .settings__dropdown-menu{
    right: 60px;
  }
}
.others__dropdown-menu{
  position: absolute;
  z-index: 20;
top: 30px;
right: -170px;
}
.userOptions__dropdown-item {
  width: 100%;
  background-color: inherit;
  padding: 7px 0 7px 7px;
  display: flex;
  align-items: start;
  justify-content: start;
  border: none;
  outline: none;
  cursor: pointer;
}

.userOptions__dropdown-item:hover {
  background-color: var(--gray-270);
}

.userOptions__dropdown-text {
  user-select: none;
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 500;
}

/* google apps css */
.apps__modal {
  position: absolute;
  right: 25px;
  top: 60px;
  z-index: 21;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 350px;
 max-height:500px;
  border-radius: 30px;
  background-color: var(--blue-100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
}

.apps__wrapper {
  width: 100%;
  background-color: white;
 display: grid;
 grid-template-columns: auto auto auto;
 justify-content: center;
align-items: center;
align-self: flex-start;
gap: 5px;
padding: 20px;
}
.apps__wrapper:nth-child(1){
  border-radius: 30px 30px 5px 5px;
}
.apps__wrapper:nth-child(2){
  border-radius: 5px 5px 30px 30px;
}
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  user-select: none;
  text-decoration: none;
}

.app__container:hover {
 background-color: var(--gray-270);
}


.app__img {
  width: 35px;
  height: auto;
}
.app__text{
  font-size: 15px;
  color: var(--gray-800);
}

.app__btn-container{
  margin: 20px 0;
}
.app__btn:hover{
  background: white;
  border-color:var(--blue-200);
}

.app__btn:active{
background-color: var(--blue-200);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.account__container {
  position: absolute;
  right: 25px;
  top: 60px;
  z-index: 21;
}
@media screen and (max-width:500px) {
  .apps__modal {
    width: 300px;
    max-height:300px;
  }
  .app__img {
    width: 30px;
  }
  .app__text{
    font-size: 14px;
  }
  .apps__wrapper {
  gap: 0;
  }
  .app__container {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width:400px) {
  .apps__modal{
    display: none;
  }
}