.modalClassName {
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 110;
}

.modalClassName__todo {
  right: -60px;
  top: 30px;
}

.modalClassName__setting {
  right: 140px;
  top: 50px;
}

.modalClassName__selected {
  right: 10px;
  top: 55px;
}

.modalClassName__create {
  right: -40px;
  top: 30px;
}

.modalClassName__create-top {
  top: -260px;
  right: -40px;
}

.modalClassName__create-bottom {
  right: -40px;
  top: 30px;
}

.modalClassName__note-top {
  right: -20px;
  bottom: 30px;
}

.modalClassName__note-bottom {
  top: 18px;
  right: 60px;
}

.dropdownModal__item {
  min-width: max-content;
  background-color: inherit;
  padding: 7px 0 7px 7px;
  display: flex;
  align-items: start;
  justify-content: start;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.dropdownModal__item:hover {
  background-color: var(--color-gray-100);
}

.dropdownModal__text {
  user-select: none;
  color: var(--color-gray-800);
  font-size: 14px;
  font-weight: 500;
}

/* @media screen and (max-width:900px) {
  .settings__dropdown-menu{
    right: 110px;
  }
}
@media screen and (max-width:450px) {
  .settings__dropdown-menu{
    right: 60px;
  }
} */





/* google apps css */
.apps__modal {
  position: absolute;
  right: 25px;
  top: 65px;
  z-index: 21;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 350px;
  max-height: 500px;
  border-radius: 30px;
  background-color: var(--color-blue-100);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
}

.apps__wrapper {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
  padding: 20px;
}

.apps__wrapper:nth-child(1) {
  border-radius: 30px 30px 5px 5px;
}

.apps__wrapper:nth-child(2) {
  border-radius: 5px 5px 30px 30px;
}

.app__container {
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: space-between;
  width: 98px;
  height: 98px;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  user-select: none;
  text-decoration: none;
  position: relative;
}

.app__container:hover {
  background-color: var(--color-gray-300);
}


.app__img {
  width: 35px;
  height: auto;
}

.app__text {
  font-size: 15px;
  color: var(--color-gray-800);
width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  max-height: fit-content;
  margin-top: 5px;
  text-transform: capitalize;
  position: absolute;
  top: 56px;

}
.app__container:hover .app__text{
white-space: normal;
text-overflow: clip;
text-wrap: wrap;
overflow: scroll;
}

.app__btn-container {
  margin: 20px 0;
}

.app__btn:hover {
  background: white;
  border-color: var(--color-blue-200);
}

.app__btn:active {
  background-color: var(--color-blue-200);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.account__container {
  position: absolute;
  right: 25px;
  top: 60px;
  z-index: 21;
}

@media screen and (max-width:500px) {
  .apps__modal {
    width: 300px;
    max-height: 300px;
  }

  .app__img {
    width: 30px;
  }

  .app__text {
    font-size: 14px;
  }

  .apps__wrapper {
    gap: 0;
  }

  .app__container {
    width: 80px;
    height: 80px;
  }
}



/* todo bg modal */
.bg-modal {
  position: absolute;
  width: max-content;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  z-index: 15;
}

.bg-modal__create,
.bg-modal__note {
  top: 25px;
  left: 50px;
}

.bg-modal__selected {
  top: 55px;
  right: 190px;
}

.bg-modal__todo {
  top: 28px;
  left: -70px;
}

.bg-color-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  width: 100%;
}

.color-btn {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
}

.non-selected {
  font-size: 18px;
  background-color: white;
}

.color-btn:hover {
  cursor: pointer;
}
.color-btn.selected{
  border-color:#A142F4;
}
.color-btn.selected::after {
  content: '\2713';
  position: absolute;
  right: -7px;
  top: -8px;
  width: 18px;
  height: 18px;
  background-color: var(--color-purple-main);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
}

/* backdrop modal css */

.backdrop-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a89;
  z-index: 100;
  position: fixed;
}

/* label modal */

.search-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-lists {
  display: flex;
  gap: 5px;
  align-items: center;
}