.settings__dropdown-menu{
    position: absolute;
    right: 150px;
    top: 55px;
    z-index: 20;
    padding: 10px 0;
    width: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}
.settings__dropdown-item{
    width: 100%;
    background-color: inherit;
    padding: 7px 0 7px 20px;
}
.settings__dropdown-item:hover{
    background-color: var(--gray-270);
}
.settings__dropdown-text{
  user-select: none;
  color: var(--gray-800);
font-size: 14px;
font-weight: 500;
}