.label-editor{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
}
.label-editor__content{
    padding: 15px;
}
.label-editor__title{
    font-size: 18px;
    font-weight: 600;
    
}
.label-editor__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label-editor__input-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.label-editor__create-wrapper{
    margin-top: 10px;
}
.label-editor__input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-gray-700);
    padding-bottom: 5px;
    width: 190px;
}
.label-editor__input:focus,.edit-input:focus{
    border-bottom: .5px solid var(--color-gray-500);
 
}
.edit-input{
    outline: none;
    border: none;
}
.edit-input,.edit-text{
    font-size: 16px;
}

.label-editor__list-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.label-editor__list-item{
    display: flex;
}

.label-editor__comleted-btn-wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.label-editor__comleted-btn{
    font-size: 16px;
    position: relative;
}
.label-editor__comleted-btn.lg-btn::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    left: -24px;
}