.slide {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width .1s linear;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.slide__expanded {
    width: 280px;
    padding: 15px 0 0 0;
}

.slide__collapsed {
    width: 70px;
    padding: 15px 0 0 11px;
}

.slide__expanded-item {
    border-radius: 0 30px 30px 0;
    width: 100%;
    justify-content: flex-start;
}


.slide__collapsed-item {
    border-radius: 50%;
    width: 50px;
    justify-content: center;
}

.slide__expanded-item__title {
    display: block;
}

.slide__collapsed-item__title {
    display: none;
}

.slide__expanded-item__icon {
    padding-left: 8.5px;
    
}

.slide__collapsed-item__icon {
    padding-left: 0px;
}
.slide__expanded-footer {
    display: block;
}

.slide__collapsed-footer {
    display: none;
}
.slide a {
    text-decoration: none;
}

.slide__item {
    display: flex;
    padding: 13px 15px;
    align-items: center;
    gap: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}



.slide__item:hover {
    background-color: var(--color-gray-100);

}

.active {
    background-color: var(--color-yellow-main);
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--color-gray-900);
}

.sm-active {
    background-color: var(--color-yellow-main);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-right: 17.8px;
}

.slide__item.active:hover {
    background-color: var(--color-yellow-main);
}

.slide__item.sm-active:hover {
    background-color: var(--color-yellow-main);
}

.slide__footer {
    margin-left: 35px;
    margin-bottom: 15px;
    width: max-content;
}

.slide__footer-text {
    font-size: 13px;
    color: var(--color-gray-500);
    font-weight: 500;
}

.slide__title {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;


}

.slideItem__icon {
    font-size: 22px;
    color: var(--color-gray-700);
}

@media screen and (min-width:400px) {
    .slide:hover {
        box-shadow: .1px 0px 10px var(--color-gray-500);
        position: fixed;
        top: 64px;
        left: 0;
        height: 100vh;
        z-index: 1000;
        box-shadow: 1px 0px 10px var(--color-gray-400);
        background-color: white;
    }
}
@media screen and (max-width:400px) {
    .slideItem__icon {
        font-size: 16px;
        height: auto;
    }

    .slide {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 250px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        box-shadow: 1px 0px 10px var(--color-gray-400);
        background-color: white;
    }

    .slide__expanded {
        transform: translateX(0);
    }
}