.header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 300px;
}
.header__title{
    color: var(--gray-650);
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
}
.keep-title{
    font-size: 24px;
}
.logo {
    width: 40px;
}