.headerControls{
    display: flex;
    gap: 60px;
}

.headerControls__wrapper{
    display: flex;
    gap: 20px;
}
.account-btn{
    background-color: var(--account-color);
    width: 35px;
    height: 35px;
    font-weight: 400;
    color: white;
}
.search-btn{
    visibility: hidden;
}

.controlBtn__reflesh{
    font-size: 18px;
}
@media screen and (max-width:900px) {
    .headerControls{
        gap: 20px;
    }
}
@media screen and (max-width:750px) {
    .search-btn{
        visibility: visible;
    }
}
@media screen and (max-width:600px) {
    .controlBtn__list-view{
     display: none;
    }
    .controlBtn__reflesh{
        font-size: 16px;
    }
}
@media screen and (max-width:450px) {
    .controlBtn__apps{
     display: none;
    }
}
@media screen and (max-width:360px) {
    .headerControls__wrapper{
        gap: 13px;
    }
    .controlBtn__reflesh{
        font-size: 14px;
    }
}