.headerControls {
    display: flex;
    gap: 60px;
}

.headerControls__wrapper {
    display: flex;
    gap: 20px;
}

.headerControls__account {
    background-color: var(--color-pink-main);
    width: 35px;
    height: 35px;
    font-weight: 400;
    color: white;
}

.headerControls__search,  .headerControls__search-close {
    visibility: hidden;
    font-size: 22px;
}


@media screen and (max-width:900px) {
    .headerControls {
        gap: 20px;
    }
}

@media screen and (max-width:750px) {
    .headerControls__search,  .headerControls__search-close {
        visibility: visible;
    }
    .headerControls__search-close {
       margin-right: -20px;
    }


}

@media screen and (max-width:600px) {
    .headerControls__list-view {
        display: none;
    }
    .headerControls__search-close {
        margin-right: -30px;
     }
 
}

@media screen and (max-width:480px) {
    .headerControls__search-close {
        visibility: visible;
        position: fixed;
        z-index: 302;
        right: 30px;
        top: 23px;
        margin-right: 0;
    }
}

@media screen and (max-width:450px) {

    .headerControls__account {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:360px) {
    .headerControls__wrapper {
        gap: 15px;
    }

}