.headerControls {
    display: flex;
    gap: 60px;
}

.headerControls__wrapper {
    display: flex;
    gap: 20px;
}

.headerControls__account {
    background-color: var(--color-pink-main);
    width: 35px;
    height: 35px;
    font-weight: 400;
    color: white;
}

.headerControls__search {
    visibility: hidden;
    font-size: 22px;
}

/* .headerControls__reflesh,
.headerControls__settings,
.headerControls__apps {
    font-size: 24px;
} */

@media screen and (max-width:900px) {
    .headerControls {
        gap: 20px;
    }
}

@media screen and (max-width:750px) {
    .headerControls__search {
        visibility: visible;
    }
}

@media screen and (max-width:600px) {
    .headerControls__list-view {
        display: none;
    }

    .headerControls__reflesh {
        font-size: 16px;
    }
}

@media screen and (max-width:450px) {
    .headerControls__apps {
        display: none;
    }
}

@media screen and (max-width:360px) {
    .headerControls__wrapper {
        gap: 13px;
    }

    .headerControls__reflesh {
        font-size: 14px;
    }
}