.empty-state{
    width:100%;
    height: 65dvh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.empty-state__icon{
    width: 130px;
    height: auto;
}

.empty-state__message{
    font-size: 23px;
    color: var(--color-gray-650);
    font-weight: 500;

}