*{
    padding: 0;
    margin: 0;
}
.actions{
    position: relative;
}
.create-label-modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a89;
    z-index: 100;
    position: fixed;
}
.mainSection{
    display: flex;
  
}
.slideSection{
    margin-top:65px ;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homeSection{
    margin-top:65px;
    width: 100%;
   height: auto;
padding:0 70px 70px 70px;
overflow-x: hidden;
}
@media screen and (max-width:700px) {
    .homeSection{
  padding:10px;
    }
}


@media screen and (max-width:400px) {
    .slideSection{
      z-index: 90;
      transform: translateX(-500px);
      position: fixed;
    }
    .slideSection[data-menu-open="true"]{
        z-index: 90;
        transform: translateX(0);
        position: fixed;
        box-shadow: .5px 0px 10px gray;
    }
    }
