
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(./common/styles/colors.css);
@import url(./common/styles/buttons.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

*{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}