:root{
    --gray-50:#F9F9F9;
    --gray-100:#E9EAEA;
    --gray-200: #E0E0E0;
    --gray-250:#F2F3F4;
    --gray-400:#BFBFBF;
    --gray-300:#DBDCE0;
    --gray-500:#757575;
    --gray-600:#666666;
    --gray-650:#5F6368;
    --gray-700:#4A4A4A;
    --gray-800:#3C4043;
    --gray-700-opacity:#4a4a4ada;
    --gray-900:#202124;
    --gray-950:#212121;
    --account-color:#C2195B;
    --blue:#1A73E8;
    --yellow:#FEEFC3;


}
